

/*iPhone 12mini, Huawei P30 Pro, 
 * Pixel6 pro, GalaxyS22, GalaxyS22+ || 360 x 780*/
@media only screen and (width: 360px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 5.5rem;
    width: 10rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../../../Assets/feature/features/c25ff1c0-f10d-11e9-8ee1-a0369f10330e.jpg");
  }
  #feature_2 {
    background-image: url("../../../../../../Assets/feature/features/39818312725_d56781b864_c.jpg");
  }
  #feature_3 {
    background-image: url("../../../../../../Assets/feature/features/OFF-SITE-DINNER.jpg");
  }
  #feature_4 {
    background-image: url("../../../../../../Assets/feature/features/save-energy-forum-nt.png");
  }

}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 6.5rem;
    width: 9rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../../../Assets/feature/features/c25ff1c0-f10d-11e9-8ee1-a0369f10330e.jpg");
  }
  #feature_2 {
    background-image: url("../../../../../../Assets/feature/features/39818312725_d56781b864_c.jpg");
  }
  #feature_3 {
    background-image: url("../../../../../../Assets/feature/features/OFF-SITE-DINNER.jpg");
  }
  #feature_4 {
    background-image: url("../../../../../../Assets/feature/features/save-energy-forum-nt.png");
  }

}

/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 9rem;
    width: 10rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    backgroundrepeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../../../Assets/feature/features/c25ff1c0-f10d-11e9-8ee1-a0369f10330e.jpg");
  }
  #feature_2 {
    background-image: url("../../../../../../Assets/feature/features/39818312725_d56781b864_c.jpg");
  }
  #feature_3 {
    background-image: url("../../../../../../Assets/feature/features/OFF-SITE-DINNER.jpg");
  }
  #feature_4 {
    background-image: url("../../../../../../Assets/feature/features/save-energy-forum-nt.png");
  }


}

/*iPhone 12(ISO14) 12 Pro || 390 x 844*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 7.5rem;
    width: 10rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../../../Assets/feature/features/c25ff1c0-f10d-11e9-8ee1-a0369f10330e.jpg");
  }
  #feature_2 {
    background-image: url("../../../../../../Assets/feature/features/39818312725_d56781b864_c.jpg");
  }
  #feature_3 {
    background-image: url("../../../../../../Assets/feature/features/OFF-SITE-DINNER.jpg");
  }
  #feature_4 {
    background-image: url("../../../../../../Assets/feature/features/save-energy-forum-nt.png");
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 9rem;
    width: 10.5rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../../../Assets/feature/features/c25ff1c0-f10d-11e9-8ee1-a0369f10330e.jpg");
  }
  #feature_2 {
    background-image: url("../../../../../../Assets/feature/features/39818312725_d56781b864_c.jpg");
  }
  #feature_3 {
    background-image: url("../../../../../../Assets/feature/features/OFF-SITE-DINNER.jpg");
  }
  #feature_4 {
    background-image: url("../../../../../../Assets/feature/features/save-energy-forum-nt.png");
  }

}

