.secondmenu_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 26rem;
  margin-right: 31rem;
}

.secondmenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../../Assets/background/button_bg.jpg');
  border-radius: 16px;
  padding-top: 1rem;
}

.secondmenu img {
  margin: 0.5rem;
}

.secondmenu h1 {
  font-size: 1.5rem;
  color: white;
}

.secondmenu_flex:nth-of-type(1) {
  flex: 25rem;
}

.secondmenu_flex:nth-of-type(2) {
  flex: 25rem;
}

.secondmenu_flex:nth-of-type(3) {
  flex: 25rem;
}

.secondmenu_flex:nth-of-type(4) {
  flex: 25rem;
}

.secondmenu_flex:nth-of-type(5) {
  flex: 25rem;
}

.secondmenu_flex:nth-of-type(6) {
  flex: 25rem;
}

@media(max-width:450px) {

  .secondmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .secondmenu_flex:nth-of-type(1) {
    flex: 17rem;
  }

  .secondmenu_flex:nth-of-type(2) {
    flex: 17rem;
  }

  .secondmenu_flex:nth-of-type(3) {
    flex: 17rem;
  }

  .secondmenu_flex:nth-of-type(4) {
    flex: 17rem;
  }

  .secondmenu_flex:nth-of-type(5) {
    flex: 17rem;
  }

  .secondmenu_flex:nth-of-type(6) {
    flex: 17rem;
  }

  .secondmenu img {
    margin: 0;
  }

  .secondmenu h1 {
    font-size: 2.5rem;
    color: white;
  }

  .secondmenu_red {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 16px;
    background-color: red;
    padding-top: 1rem;
  }

  .secondmenu_red h1 {
    font-size: 2.5rem;
    color: white;

  }

  @keyframes beat {
    to { transform: scale(1.2); }
  }

  .icon_beat img {
    animation: beat .45s infinite alternate;
    transform-origin: center;
  }

}
