.slider_flex {
  display: flex;
  justify-content: center;
}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .slider_flex {
    display: flex;
    justify-content: center;
    padding-top: 5.96rem;
  }

}

/*iPhone 12, 12 pro || 390 x 844*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .slider_flex {
    display: flex;
    justify-content: center;
    padding-top: 6.1rem;
  }

}

/*iPhone 12 Pro Max || 428 x 926*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .slider_flex {
    display: flex;
    justify-content: center;
    padding-top: 9.9rem;
  }


}
