.videoclip_container_flex {
  display: flex;
  justify-content: center; 
  background-color: hsl(0, 24%, 50%);
}

.videoclip_container_flex video {
  height: 30em;
  width: 83em;
  object-fit: none;
  object-position: 0% 0%;
}

.video_clip h1 {
  text-align: center;
}
