.videoclip_container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.videoclip_container_flex video {
  height: 20rem;
  width: 67rem;
}

.video_clip h1 {
  text-align: center;
}
