.videoclip_container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.videoclip_container_flex video {
  height: 20rem;
  width: 67rem;
}

.video_clip h1 {
  text-align: center;
}

/*iPhone 12mini, Huawei P30 Pro, 
 * Pixel6 pro, GalaxyS22, GalaxyS22+ || 360 x 780*/
@media only screen and (width: 360px)
and (orientation: portrait) {

  .videoclip_container_flex video {
    height: 8rem;
    width: 22.5rem;
  }

  .video_clip h1 {
    text-align: center;
  }

}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .videoclip_container_flex video {
    height: 8rem;
    width: 18rem;
  }

  .video_clip h1 {
    text-align: center;
  }

}

/*iPhone XR, 11 || 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .videoclip_container_flex video {
    height: 8rem;
    width: 18rem;
  }

  .video_clip h1 {
    text-align: center;
  }

}


/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .videoclip_container_flex video {
    height: 9rem;
    width: 18rem;
  }

  .video_clip h1 {
    text-align: center;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .videoclip_container_flex video {
    height: 8rem;
    width: 26.5rem;
  }

  .video_clip h1 {
    text-align: center;
  }

}
