.featuremenucontents_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25rem;
  margin-right: 25rem;
  gap: 1rem;
}

.featuremenucontents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.featuremenu_container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.feature_grid:nth-of-type(1) {
  grid-column: 1 / 4;
  grid-row: 1;
}

.feature_grid:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 1;
}

.feature_grid:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 1;
}

.featuremenucontents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


/*iPhone 12mini, Huawei P30 Pro, 
 * Pixel6 pro, GalaxyS22, GalaxyS22+ || 360 x 780*/
@media only screen and (width: 360px)
and (orientation: portrait) {

  .topschedule_date_red {
    border-bottom: solid red 0.5rem;
  }

  .featureright, .featureleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .featureright {
    justify-self: flex-end;
  }

  .featureleft {
    justify-self: flex-start;
  }

  .featureright img, .featureleft img {
    height: 2rem;
  }

  .topfeature_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topfeaturecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .topfeaturecontents_header h1 {
    font-size: 0.9rem;
  }

  .topfeature_red {
    border-bottom: solid red 0.2rem;
    text-align: center;
    line-break: normal;
  }

  .topfeaturecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topfeature_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topfeaturecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdfeaturecontent {
    height: 33.6vh;
  }

}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .topschedule_date_red {
    border-bottom: solid red 0.5rem;
  }

  .featureright, .featureleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .featureright {
    justify-self: flex-end;
  }

  .featureleft {
    justify-self: flex-start;
  }

  .featureright img, .featureleft img {
    height: 2rem;
  }

  .topfeature_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topfeaturecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .topfeaturecontents_header h1 {
    font-size: 0.9rem;
  }

  .topfeature_red {
    border-bottom: solid red 0.2rem;
    text-align: center;
    line-break: normal;
  }

  .topfeaturecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topfeature_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topfeaturecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdfeaturecontent {
    height: 36.7vh;
  }

}

/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .featuremenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .featuremenucontents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 8%;
    height: 9rem;
    width: 9rem;
  }

  .featuremenucontents h1 {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .featuremenucontents p {
    color: white;
    font-size: 1rem;
  }

  .featureright, .featureleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .featureright {
    justify-self: flex-end;
  }

  .featureleft {
    justify-self: flex-start;
  }

  .featureright img, .featureleft img {
    height: 3rem;
  }

  #feature_1,
  #feature_2,
  #feature_3,
  #feature_4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
  }

  #feature_1 {
    background-image: url("../../../../Assets/events/garland_winner-landscape.jpg");
  }

  #feature_2 {
    background-image: url("../../../../Assets/events/beyond-the-rail.jpg");
  }

  #feature_3 {
    background-image: url("../../../../Assets/events/alcohol-bar-beverage-black-background-312080-landscape.jpg");
    background-size: 100% 100%;
  }

  #feature_4 {
    background-image: url("../../../../Assets/events/oyster-shucking-3-landscape.jpg");
  }

  .topfeature_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topfeaturecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .topfeaturecontents_header h1 {
    font-size: 0.9rem;
  }

  .topfeature_red {
    border-bottom: solid red 0.2rem;
    text-align: center;
    line-break: normal;
  }

  .topfeaturecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topfeature_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topfeaturecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdfeaturecontent {
    height: 41.3vh;
  }

}

/*iPhone 12(ISO14) 12 Pro || 390 x 844*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .topschedule_date_red {
    border-bottom: solid red 0.5rem;
  }

  .featureright, .featureleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .featureright {
    justify-self: flex-end;
  }

  .featureleft {
    justify-self: flex-start;
  }

  .featureright img, .featureleft img {
    height: 3rem;
  }

  .topfeature_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topfeaturecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .topfeaturecontents_header h1 {
    font-size: 0.9rem;
  }

  .topfeature_red {
    border-bottom: solid red 0.2rem;
    text-align: center;
    line-break: normal;
  }

  .topfeaturecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topfeature_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topfeaturecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdfeaturecontent {
    height: 38.2vh;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .topschedule_date_red {
    border-bottom: solid red 0.5rem;
  }

  .featureright, .featureleft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
  }

  .featureright {
    justify-self: flex-end;
  }

  .featureleft {
    justify-self: flex-start;
  }

  .featureright img, .featureleft img {
    height: 4rem;
  }

  .topfeature_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topfeaturecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .topfeaturecontents_header h1 {
    font-size: 0.9rem;
  }

  .topfeature_red {
    border-bottom: solid red 0.2rem;
    text-align: center;
    line-break: normal;
  }

  .topfeaturecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topfeature_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topfeaturecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdfeaturecontent {
    height: 41.2vh;
  }

}

