.banner_container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner_btn_back {
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  top: .3em;
  left: 76rem;
  color: white;
}

.banner_flex_item img {
  height: 23.1rem;
  width: 67rem;
  object-fit: none;
  object-position: 0% 0%;
}


@media(max-width:450px) {

 .banner_btn_back {
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: .3em;
    left: 59rem;
    color: white;
  }

}
