

/*iPhone 12mini, Huawei P30 Pro, 
 * Pixel6 pro, GalaxyS22, GalaxyS22+ || 360 x 780*/
@media only screen and (width: 360px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.5rem;

  }

  .initialmenu img {
    height: 3rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.8rem;
    color: white;
  }

}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 5.95rem;

  }

  .initialmenu img {
    height: 2rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.7rem;
    color: white;
  }

}

/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.6rem;
  }

  .initialmenu img {
    height: 4.5rem;
    width: 5rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 9rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 9rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 9rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 9rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 9rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 9rem;
  }

  .initialmenu img {
    margin-top: 0.2rem;
  }

  .initialmenu h1 {
    font-size: 1rem;
    color: white;
  }


}

/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.3rem;

  }

  .initialmenu img {
    height: 4rem;
    width: 3rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.7rem;
    color: white;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0.1rem;
  }

  .initialmenu img {
    height: 5rem;
    width: 3rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 1rem;
    color: white;
  }

}
