
@media(width:4511px) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 45rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 45rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 45rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 45rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 45rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 45rem;
  }

  .initialmenu img {
    margin: 0;
  }

  .initialmenu h1 {
    font-size: 2.5rem;
    color: white;
  }

}


/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

  }

  .initialmenu img {
    height: 2rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.7rem;
    color: white;
  }

}

/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

  }

  .initialmenu img {
    height: 2rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 8rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 8rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 8rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 8rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 8rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 8rem;
  }

  .initialmenu img {
    margin-top: 0.2rem;
  }

  .initialmenu h1 {
    font-size: 0.8rem;
    color: white;
  }


}


/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

  }

  .initialmenu img {
    height: 2rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.7rem;
    color: white;
  }


}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .initialmenu_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;

  }

  .initialmenu img {
    height: 2rem;
    width: 2rem;
  }

  .initialmenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../Assets/background/button_bg.jpg');
    border-radius: 12px;
  }

  .initialmenu_flex:nth-of-type(1) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(2) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(3) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(4) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(5) {
    flex: 10rem;
  }

  .initialmenu_flex:nth-of-type(6) {
    flex: 10rem;
  }

  .initialmenu img {
    margin-top: 0.1rem;
  }

  .initialmenu h1 {
    font-size: 0.7rem;
    color: white;
  }

}
