.initialmenu_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 31em;
  margin-right: 31em;
}

.initialmenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../../Assets/background/button_bg.jpg');
  border-radius: 16px;
}

.initialmenu img {
  margin: 10px;
}

.initialmenu h1 {
  font-size: 2em;
  color: white;
}

.initialmenu_flex:nth-of-type(1) {
  flex: 25em;
}

.initialmenu_flex:nth-of-type(2) {
  flex: 25em;
}

.initialmenu_flex:nth-of-type(3) {
  flex: 25em;
}

.initialmenu_flex:nth-of-type(4) {
  flex: 25em;
}

.initialmenu_flex:nth-of-type(5) {
  flex: 25em;
}

.initialmenu_flex:nth-of-type(6) {
  flex: 25em;
}

