
/*iPhone 12mini, Huawei P30 Pro, 
 * Pixel6 pro, GalaxyS22, GalaxyS22+ || 360 x 780*/
@media only screen and (width: 360px)
and (orientation: portrait) {
  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
  }

  .speakerscontents h1 {
    font-size: 0.6rem;
    text-align: center;
    color: black;
    width: 7rem;
  }

  .speakerscontents p {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
    width: 7rem;
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 39vh;
    width: auto;
    overflow-y: auto;
    position:relative;
  }

}




/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
  }

  .speakerscontents h1 {
    font-size: 0.6rem;
    text-align: center;
    color: black;
    width: 7rem;
  }

  .speakerscontents p {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
    width: 7rem;
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 41.8vh;
    width: auto;
    overflow-y: auto;
    position:relative;
  }

}


/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
  }

  .speakerscontents h1 {
    font-size: 0.7rem;
    text-align: center;
    color: black;
    width: 8rem;
  }

  .speakerscontents p {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
    width: 7rem;
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 45.7vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}

/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
  }

  .speakerscontents h1 {
    font-size: 0.6rem;
    text-align: center;
    color: black;
    word-break: break-all;
    width: 9rem;
  }

  .speakerscontents p {
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
    word-break: break-all;
    width: 8.5rem;
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 43vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .speakerscontents h1 {
    font-size: 0.7rem;
    text-align: center;
    color: black;
    word-break: break-all;
    width: 10rem;
  }

  .speakerscontents p {
    font-size: 0.6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
    word-break: break-all;
    width: 10rem;
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 5rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 45.5vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}
