.secondmenucontents_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25rem;
  margin-right: 25rem;
  gap: 2rem;
}

.secondmenucontents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.secondmenucontents img {
  margin-top: 0.5rem;
  margin-left: 1.7rem;
  border-radius: 100%;
  width: 6rem;
}

.secondmenucontents h1 {
  font-size: 2em;
  text-align: center;
  color: black;
}

.secondmenucontents p {
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
  color: rgb(46, 46, 46);
}

.ssecondmenucontents_flex:nth-of-type(1) {
  flex: 9;
}



@media(width:4500px) {

  .secondmenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    gap: 2rem;
  }

  .secondmenucontents h1 {
    font-size: 3em;
    text-align: center;
    color: black;
  }

  .secondmenucontents p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
  }

  .secondmenucontents img {
    margin-top: 1rem;
    margin-left: 8rem;
    border-radius: 100%;
    width: 10rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.5rem;
  }

  .topheader h1 {
    font-size: 3rem;
  }

  .holdcontent {
    height: 160vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}



/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .speakerscontents h1 {
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .speakerscontents p {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 41.8vh;
    width: auto;
    overflow-y: auto;
    position:relative;
  }

}


/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .speakerscontents h1 {
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .speakerscontents p {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 45.7vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}

/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .speakerscontents h1 {
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .speakerscontents p {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 43vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .speakerscontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .speakerscontents h1 {
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .speakerscontents p {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);
  }

  .speakerscontents img {
    margin-top: 0.3rem;
    margin-left: 2.5rem;
    border-radius: 100%;
    width: 3rem;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .topheader div {
    border-bottom: solid red 0.3rem;
  }

  .topheader h1 {
    font-size: 1rem;
  }

  .holdcontent {
    height: 45.5vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }

}
