.schedulemenucontents_container_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25rem;
  margin-right: 25rem;
  gap: 2rem;
}

.schedulemenucontents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


@media(width:45000px) {

  .schedulemenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    gap: 2rem;
  }

  .topschedule_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topschedulecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .topschedulecontents_header h1 {
    font-size: 2.2rem;
  }

  .topschedulecontents_header h2 {
    font-size: 1.9rem;
    font-weight: bold;
    color: darkgray;
  }

  .topschedulecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topschedule_date_red {
    border-bottom: solid red 0.5rem;
  }

  .topschedulecontents_date h1 {
    font-size: 2.2rem;
  }

  .holdschedulecontent {
    height: 160vh;
    width: auto;
    overflow-y:auto;
    float:left;
    position:relative;
  }


}




/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .schedulemenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
    gap: 2rem;
  }

  .schedulemenucontents img {
    height: auto;
    width: 23.4rem;
    margin-bottom: -0.5rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .topschedule_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topschedulecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .topschedulecontents_header h1 {
    font-size: 1rem;
  }

  .topschedulecontents_header h2 {
    font-size: 1rem;
    font-weight: bold;
    color: darkgray;
  }

  .topschedulecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topschedule_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topschedulecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdschedulecontent {
    height: 34.5vh;
    width: 100vw;
    overflow-y:auto;
    position:relative;
  }

}


/*iPhone XR, 11 414 x 896*/
@media only screen and (width: 414px)
and (orientation: portrait) {

  .schedulemenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
    gap: 2rem;
  }

  .schedulemenucontents img {
    height: auto;
    width: 23.4rem;
    margin-bottom: -0.5rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .topschedule_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topschedulecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .topschedulecontents_header h1 {
    font-size: 1rem;
  }

  .topschedulecontents_header h2 {
    font-size: 1rem;
    font-weight: bold;
    color: darkgray;
  }

  .topschedulecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topschedule_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topschedulecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdschedulecontent {
    height: 39vh;
    width: 100vw;
    overflow-y:auto;
    position:relative;
  }

}

/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .schedulemenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
    gap: 2rem;
  }

  .schedulemenucontents img {
    height: auto;
    width: 23.4rem;
    margin-bottom: -0.5rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .topschedule_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topschedulecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .topschedulecontents_header h1 {
    font-size: 1rem;
  }

  .topschedulecontents_header h2 {
    font-size: 1rem;
    font-weight: bold;
    color: darkgray;
  }

  .topschedulecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topschedule_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topschedulecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdschedulecontent {
    height: 36vh;
    width: 100vw;
    overflow-y:auto;
    position:relative;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .schedulemenucontents_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0rem;
    margin-right: 0rem;
    gap: 2rem;
  }

  .schedulemenucontents img {
    height: auto;
    width: 23.4rem;
    margin-bottom: -0.5rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

  .topschedule_container_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .topschedulecontents_header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .topschedulecontents_header h1 {
    font-size: 1rem;
  }

  .topschedulecontents_header h2 {
    font-size: 1rem;
    font-weight: bold;
    color: darkgray;
  }

  .topschedulecontents_date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .topschedule_date_red {
    border-bottom: solid red 0.3rem;
  }

  .topschedulecontents_date h1 {
    font-size: 0.7rem;
  }

  .holdschedulecontent {
    height: 39.3vh;
    width: 100vw;
    overflow-y:auto;
    position:relative;
  }

}
