.footer_container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer_flex_item img {
  height: 7.3rem;
  width: 67rem;
  object-fit: none;
  object-position: 100% 100%;
}

/*iPhone 6, 6S, 7 and 8 || 375 x 667*/
@media only screen and (width: 375px)
and (orientation: portrait) {

  .footer_flex_item img {
    height: 10.9rem;
    width: 23.4rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

}

/*iPhone 12, 12 pro*/
@media only screen and (width: 390px)
and (orientation: portrait) {

  .footer_flex_item img {
    height: 12.1rem;
    width: 24.41rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

}

/*iPhone 12 Pro Max*/
@media only screen and (width: 428px)
and (orientation: portrait) {

  .footer_flex_item img {
    height: 17rem;
    width: 26.75rem;
    object-fit: cover;
    object-position: 100% 100%;
  }

}
